version: '2'
services:
  web:
    build: .
    ports:
        - "8082:80"
    volumes:
        - ./:/code
        - ./docker/site.conf:/etc/nginx/conf.d/default.conf
        - ./docker/nginx.conf:/etc/nginx/nginx.conf
  mysql-db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: qwerty234
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080