@font-face {
    font-family: "Signika";
    src: url(../fonts/Signika-Regular.ttf) format("truetype");
}

body {
    font-family: 'Signika', sans-serif;
}

#logo-panel {
    height: 100px;
    padding-top: 10px;
}

#logo-panel .navbar {
    box-shadow: none;
}

.btn-rounded {
    border-radius: 10em;
}

#main-nav {
    display: block;
}
